/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/coverage

/.next/
/out/


/build


.DS_Store
*.pem


npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vercel

*.tsbuildinfo
next-env.d.ts

.env
.env.local
.env.*.local
.env.development
.env.production
!.env.example

.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Logs adicionales
logs
*.log
lerna-debug.log*

# Caches / artefactos
.next/cache
.turbo
.swc
dist
tmp
*.tgz

# Test / QA
coverage-final.json
storybook-static
playwright-report/
test-results/

# Sistemas SO
Thumbs.db
